section#services {
  display: grid;
  justify-items: center;
}

section#services h2 {
  margin-top: 11.5rem;
}

section#services h2 span {
  color: var(--purple);
  font-weight: 600;
  font-size: 2.5rem;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-bottom: -2.5rem;
}

section#services h2 span img {
  margin-right: 1.4rem;
}

section#services div.divider {
  margin-top: 2.6rem;
  margin-bottom: 3.6rem;
}

section#services p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray);
  opacity: 0.8;
}

section#services div.cards-services {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4.8rem;
  gap: 10.6rem 5.3rem;
  position: relative;
}

section#services div.cards-services div.square-1 {
  width: 43.4rem;
  height: 47.4rem;
  background: #f2f2f2;
  transform: rotate(48.17deg);
  position: absolute;
  left: 50%;
  z-index: -1;
}
section#services div.cards-services div.square-2 {
  width: 43.4rem;
  height: 47.4rem;
  background: #f2f2f2;
  transform: rotate(48.17deg);
  position: absolute;
  right: 50%;
  z-index: -1;
}

section#services div.cards-services div.card-service {
  display: flex;
}

section#services div.cards-services div.card-service div {
  margin-left: 2.84rem;
  margin-top: 0.8rem;
}

section#services div.cards-services div.card-service:nth-child(3) div {
  margin-left: 3.938rem;
}
section#services div.cards-services div.card-service div h3 {
  font-size: 3rem;
  font-weight: 600;
}

section#services div.cards-services div.card-service div p {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--gray);
  margin-top: 1.9rem;
}
